/* shared section */


.open-sans-textfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary-color1{
    color: #FD6E0A;
}

.dark2-primary-color{
    color: #474747;
}

.dark1-primary-color{
    color: #181818;
}

.dark3-primary-color{
    color: #757575;
}

.button-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    /* width: 100%; */
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}

.text-title-primary{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.text-paragraph-primary{
    font-size: 18px;
    color: #757575;
}

.bg-secondary-background{
    background-color: #FFF8F3;
}


/* Header section */

.header-container{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

.header-name-title{
    font-size: 45px;
    font-weight: 800;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    /* margin: 50 200px;
    margin-left: 250px;
    margin-right: 270px; */
    
}

nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    border: none;
    max-width: 1140px;
    margin: 0 auto;
    /* margin-right: 700px; */
    
}

.banner-heading-grettings{
    font-size: 45px;
    font-weight: 600px;
}

.banner-heading-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-paragraph1{
    font-size: 18px;
}

.banner-button-contact{
    color: #FD6E0A;
    background-color: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    /* width: 100%; */
    font-size: 20px;
    /* color: white; */
    padding: 18px 35px;
    margin-right: 47px;
}


img{
    width: 580px;
    height: 670px;
}

/* About Section Style */

.about-section-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

.about-container{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-content{
    border: 2px solid black;
    background-color: white;
}

.about-list-container{
    display:flex;
    justify-content: space-around;
}

.about-list-p1{
    font-size: 20px;
}

.about-list-p2{
    font-size: 20px;
    font-weight: bold;
}

/* skills section */
.skills{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.skills-content img{
    width: 44px;
    height: 44px;
}

.skills-container{
    display: flex;
    margin: 30px;
    text-align: left;
}

.skills-content{
    /* border: 2px solid tomato; */
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0;
    margin: 15px;
    padding: 25px;
}

.skills-paragraph1{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

/* resume style */
.resume-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.resume-container{
    font-size: 25px;
    font-weight: bold;
}

.resume-container-content{
    font-weight: 400px;
}

.resume-text{
    font-size: 16px;
}

.resume-heading3{
    font-size: 20px;
}

.resume-heading4{
    font-size: 20px;
}

.resume-section{
    display: flex;
    gap: 24px;
}

.resume{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

.resume button{
    margin-top: 50px;
    border-radius: 5px;
}
.rseume-button-textalign{
    text-align: center;
}

/* footer styles */

.footer-container{
    display: flex;
    gap: 100px;
    margin-top: 130px;
    padding: 130px 230px;
}

.footer-column1-header{
    font-size: 35px;
    font-weight: bold;
}

.footer-column2{
    margin-right: 100px;
    margin-left: 100px;
}

.footer-column1-paragraph{
    font-size: 16px;
}

.footer-icon img{
    width: 24px;
    height: 24px;
}

input[type="text"], input[type="email"], textarea{
    width: 460px;
    height: 64px;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
    padding: 18px 340px 18px 20px;
}

input[type="submit"]{
    width: 150px;
    display: block;
    margin-top: 24px;
}
