/* shared section */


.open-sans-textfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary-color1{
    color: #FD6E0A;
}

.dark2-primary-color{
    color: #474747;
}

.button-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    /* width: 100%; */
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}




/* Header section */

.header-container{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.header-name-title{
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50 200px;
}

nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    border: none;
    max-width: 1140px;
    margin: 0 auto;
}

.banner-heading-grettings{
    font-size: 45px;
    font-weight: 600px;
}

.banner-heading-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-paragraph1{
    font-size: 18px;
}

.banner-button-contact{
    color: #FD6E0A;
    background-color: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    /* width: 100%; */
    font-size: 20px;
    /* color: white; */
    padding: 18px 35px;
    margin-right: 47px;
}


img{
    width: 580px;
    height: 670px;
}